*{
    box-sizing: border-box
}

.Cimage{
    width: 100px;
    height: 100px;
}

#container{
    background-color: palegoldenrod;
    border: 8px solid rgba(0, 0, 0, 0.5);

}

.col{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px black solid;
}

.col:hover{
    background-color:rgba(18, 141, 150, 0.664);
}

.row{
    width: 1000px;
    height: 100px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}



.label{
    background-color: rgba(245, 222, 179, 0.644);
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 24px;
    font-weight: bold;
}

.character{
    position: relative;
}

#messagebox{
    text-align: center;
    font-size: 48px;
    width: 400px;
    height: 1000px;
    float: right;
    background-color: tan;
    overflow: hidden;

}

#statbox{

    text-align: center;
    font-size: 48px;
    width: 400px;
    height: 1000px;
    float: right;
    background-color: gray;
    overflow: hidden;
    
    
}